:root {
    --p-form-field-focus-border-color: #020617 !important;
    --hyperlink-color: #020617 !important;
    --hyperlink-hover-color: #020617 !important;
    --hyperlink-visited-color: #020617 !important;
    --p-paginator-nav-button-selected-color: #fff !important;
    --p-paginator-nav-button-selected-background: #020617 !important;
    --p-select-option-selected-focus-background: #020617 !important;
    --p-select-option-selected-focus-color: #fff !important;
    --p-select-option-selected-background: #02061728 !important;
    --p-select-option-selected-color: #020617 !important;
    --p-tabs-tab-active-border-color: #020617 !important;
    --p-tabs-tab-active-color: #020617 !important;
    --p-tabs-active-bar-background: #020617 !important;
    --p-button-primary-hover-background: #020617 !important;
    --p-primary-color: #020617 !important;
}
