:root {
    --p-form-field-focus-border-color: #020617 !important;
    --hyperlink-color: #020617 !important;
    --hyperlink-hover-color: #020617 !important;
    --hyperlink-visited-color: #020617 !important;
}